[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/latex-live-preview"]
	path = bundle/latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundles\\polyglot"]
	path = bundles\\polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle\\flake8"]
	path = bundle\\flake8
	url = https://github.com/nvie/vim-flake8
